.label {
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px 10px 0;
    color: skyblue;
}
.input {
    font-family: 'Roboto Mono', monospace;
    margin: 10px 0; 
}
.container__select {
    font-family: 'Roboto Mono', monospace;
    color: skyblue;
    font-size: 18px;
}
