.app {
  text-align: center;
  background-image: url('https://wallpaper-gallery.net/images/rick-and-morty-pc-wallpaper/rick-and-morty-pc-wallpaper-7.jpg');
  background-repeat: repeat;
  min-height: 100vh;
}
a {
  text-decoration: none;
}



